.social-links {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 35%;
  right: 0; // Align to the right side

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .social-link {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 160px;
    height: 56px;
    padding: 0 16px;
    margin-right: -100px; // Start off-screen to the right
    background-color: #6b7280; // Tailwind's bg-gray-500
    transition: all 0.3s ease;

    &:hover {
      margin-right: -10px; // Slide the entire li to the left on hover
      background-color: #9ca3af; // Light background color on hover
    }

    &.rounded-tl-md {
      border-top-left-radius: 0.375rem; // Rounded top-left corner
    }

    &.rounded-bl-md {
      border-bottom-left-radius: 0.375rem; // Rounded bottom-left corner
    }
  }

  .link-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: white;
    text-decoration: none;
  }
}
