@use "../../styles/mixins.scss" as *;

.canvas {
  background-color: var(--secondary-bg);
  padding-block: 5rem;

  &_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 3rem;
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;

    @include respond(tab-port) {
      grid-template-columns: 1fr;
      background: none;
    }
  }

  &_left img {
    width: 105%;

    @include respond(tab-port) {
      width: 80%;
      margin-inline: auto;
    }
  }
  h1 {
    font-size: 3.3rem;
    letter-spacing: 1px;
    font-weight: 600;
  }

  p {
    color: var(--near-black);
  }

  &_typed {
    font-size: 3.3rem;
    letter-spacing: 1px;
    font-weight: 600;
    color: var(--card-bg);
  }
  a {
    margin-top: 10px;
  }
}
